*{
  margin: 0;
  padding: 0;
}
.navbar ul {
background-color: #2B3467;
width: 100%;
height: 70px;
}
.navbar ul li .link {
color: #FCFFE7;
text-decoration: none;
border-radius: 10px;
padding: 10px;
font-size: 20px;
transition: all 0.7s;
font-weight: bold;
margin-right: 5px;

}
.navbar ul li  {
  width: 90%;
  height: 70px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  


}
.navbar ul li .secound {
position: relative;
top: 3px;

}
.navbar ul li .link:hover{
  background-color: #FCFFE7;

  color: #2B3467;
  transition: all 0.7s;

  
}
